# Ignore acrobot q table as it is exceeding 400Mb
classic_control/acrobot/q_learning/q_tables/q_acrobot.pkl

# Ignore humanoid folder outputs and save only best_model
mujoco/humanoid/ppo/checkpoints/
mujoco/humanoid/ppo/logs/
mujoco/humanoid/ppo/models