# Ignore acrobot q table as it is exceeding 400Mb
classic_control/acrobot/q_learning/q_tables/q_acrobot.pkl

# Ignore humanoid folder outputs and save only best_model
mujoco/*/checkpoints/
mujoco/*/logs/
mujoco/*/models/